body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
